.desktop-9,
.desktop-9 * {
  box-sizing: border-box;
}
.desktop-9 {
  background: #fffac4;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.frame-1 {
  background: #fde998;
  width: 1440px;
  height: 137px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.au-tfit-roupas-para-seu-pet {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 172px;
  top: 0px;
  width: 297px;
  height: 137px;
  -webkit-text-stroke: 1px #000000;
}

.au-tfit-roupas-para-seu-pet-span  {
  font-family: "Croissant One", serif;
  font-size: 96px;
  font-weight: 400;
  font-style: normal;
}
.au-tfit-roupas-para-seu-pet-span2 {
  font-family: "Inika-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.ellipse-1 {
  border-radius: 50%;
  width: 109px;
  height: 126px;
  position: absolute;
  left: 38px;
  top: 6px;
  object-fit: cover;
}
.frame-2 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 419px;
  top: 48px;
  overflow: hidden;
}
.home {
  color: #000000;
  text-align: left;
  font-family: "Idiqlat-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 928px;
  top: 11px;
  width: 50px;
  height: 25px;
}
.quem-somos {
  color: #000000;
  text-align: left;
  font-family: "Idiqlat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 650px;
  top: 58px;
  width: 225px;
  height: 22px;
}
.contato {
  color: #000000;
  text-align: left;
  font-family: "Idiqlat-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 1138px;
  top: 11px;
  width: 86px;
  height: 26px;
}
.conta {
  color: #000000;
  text-align: left;
  font-family: "Idiqlat-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 1224px;
  top: 11px;
  width: 56px;
  height: 22px;
}
.pedidos {
  color: #000000;
  text-align: left;
  font-family: "Idiqlat-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 1300px;
  top: 9px;
  width: 89px;
  height: 22px;
}
.busca {
  color: #000000;
  text-align: left;
  font-family: "Idiqlat-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 1300px;
  top: 37px;
  width: 97px;
  height: 13px;
}
.logo-autfit-1 {
  border-radius: 113px;
  width: 354px;
  height: 354px;
  position: absolute;
  left: 543px;
  top: 148px;
  object-fit: cover;
  aspect-ratio: 1;
}
.na-autfit-acreditamos-que-os-pets-s-o-muito-mais-do-que-animais-de-estima-o-eles-s-o-membros-da-fam-lia-e-merecem-todo-o-carinho-conforto-e-estilo-nossa-marca-nasceu-da-paix-o-pelos-animais-e-da-vontade-de-oferecer-roupas-que-unam-qualidade-beleza-e-bem-estar-cada-pe-a-pensada-para-proporcionar-conforto-aos-pets-respeitando-seus-movimentos-e-garantindo-que-eles-se-sintam-felizes-em-qualquer-ocasi-o-buscamos-criar-produtos-que-expressem-a-personalidade-nica-de-cada-pet-desde-os-mais-aventureiros-at-os-mais-elegantes-por-isso-trabalhamos-com-aten-o-aos-detalhes-materiais-de-qualidade-e-designs-que-acompanham-as-tend-ncias-sem-abrir-m-o-da-praticidade-mais-do-que-vender-roupas-queremos-fortalecer-a-conex-o-entre-tutores-e-seus-companheiros-de-quatro-patas-ajudando-a-transformar-momentos-simples-em-lembran-as-especiais-autfit-porque-seu-pet-tamb-m-merece-se-vestir-com-estilo {
  color: #000000;
  text-align: center;
  position: absolute;
  left: 125px;
  top: 513px;
  width: 1189px;
  height: 396px;
}
.na-autfit-acreditamos-que-os-pets-s-o-muito-mais-do-que-animais-de-estima-o-eles-s-o-membros-da-fam-lia-e-merecem-todo-o-carinho-conforto-e-estilo-nossa-marca-nasceu-da-paix-o-pelos-animais-e-da-vontade-de-oferecer-roupas-que-unam-qualidade-beleza-e-bem-estar-cada-pe-a-pensada-para-proporcionar-conforto-aos-pets-respeitando-seus-movimentos-e-garantindo-que-eles-se-sintam-felizes-em-qualquer-ocasi-o-buscamos-criar-produtos-que-expressem-a-personalidade-nica-de-cada-pet-desde-os-mais-aventureiros-at-os-mais-elegantes-por-isso-trabalhamos-com-aten-o-aos-detalhes-materiais-de-qualidade-e-designs-que-acompanham-as-tend-ncias-sem-abrir-m-o-da-praticidade-mais-do-que-vender-roupas-queremos-fortalecer-a-conex-o-entre-tutores-e-seus-companheiros-de-quatro-patas-ajudando-a-transformar-momentos-simples-em-lembran-as-especiais-autfit-porque-seu-pet-tamb-m-merece-se-vestir-com-estilo-span {
  font-family: "Idiqlat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.na-autfit-acreditamos-que-os-pets-s-o-muito-mais-do-que-animais-de-estima-o-eles-s-o-membros-da-fam-lia-e-merecem-todo-o-carinho-conforto-e-estilo-nossa-marca-nasceu-da-paix-o-pelos-animais-e-da-vontade-de-oferecer-roupas-que-unam-qualidade-beleza-e-bem-estar-cada-pe-a-pensada-para-proporcionar-conforto-aos-pets-respeitando-seus-movimentos-e-garantindo-que-eles-se-sintam-felizes-em-qualquer-ocasi-o-buscamos-criar-produtos-que-expressem-a-personalidade-nica-de-cada-pet-desde-os-mais-aventureiros-at-os-mais-elegantes-por-isso-trabalhamos-com-aten-o-aos-detalhes-materiais-de-qualidade-e-designs-que-acompanham-as-tend-ncias-sem-abrir-m-o-da-praticidade-mais-do-que-vender-roupas-queremos-fortalecer-a-conex-o-entre-tutores-e-seus-companheiros-de-quatro-patas-ajudando-a-transformar-momentos-simples-em-lembran-as-especiais-autfit-porque-seu-pet-tamb-m-merece-se-vestir-com-estilo-span2 {
  font-family: "ImFellDoublePica-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
}
